@model price_conversion_web.Models.PuchaseResultCurrencyModel;

@{
    var purchaseResults = Model.PurchaseResults;
    ViewData["Title"] = "Purchases";
}

<h1>Purchases</h1>

<div>
    <h4>PurchaseResult</h4>
    <hr />
    
    <div class="container" id="purchases">
    
        <div class="row">

            <div class="col bg-primary text-white">Description</div>
            <div class="col bg-primary text-white">Transaction Date</div>
            <div class="col bg-primary text-white">Transaction Amount</div>
          </div>  
    
        @{
            for( int i = 0; i<purchaseResults.Length; ++i)
            {
                var item = purchaseResults[i];
                <div class="row">
                
                @if( i % 2 == 0)
                {

                        <div class="col bg-secondary bg-opacity-10">@item.Description</div>
                        <div class="col bg-secondary bg-opacity-10">
                        @item.TransactionDate.ToString("yyyy-MM-dd")
                    </div>
                        <div class="col bg-secondary bg-opacity-10">
                        @item.TotalAmount.ToString("C")
                    </div>
                }
                else

                {
                    <div class="col bg-primary bg-opacity-10">@item.Description</div>
                        <div class="col bg-primary bg-opacity-10">
                        @item.TransactionDate.ToString("yyyy-MM-dd")
                    </div>
                        <div class="col bg-primary bg-opacity-10">
                        @item.TotalAmount.ToString("C")
                    </div>

                }
                
           </div>
        }
    }

    </div>    

        
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
